{% extends 'base.html' %}

{% block content %}
<article class="post">
    <h1 class="mb-4">{{ post.title }}</h1>
    
    <div class="post-meta mb-3">
        {{ post.author }}, {{ post.date.strftime('%d.%m.%Y') }}
    </div>

    <div class="post-image mb-4">
        <img src="{{ url_for('static', filename='images/' + post.image_id) }}" class="img-fluid w-100" alt="Изображение поста">
    </div>

    <div class="post-content mb-5">
        {{ post.text }}
    </div>

    <section class="comments">
        <h2>Комментарии</h2>

        <form class="comment-form mb-5">
            <div class="form-group mb-3">
                <label for="commentText" class="h5">Оставьте комментарий</label>
                <textarea class="form-control" id="commentText" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>

        <div class="comments-list">
            {% for comment in post.comments %}
                <div class="comment mb-4">
                    <div class="comment-content">
                        <div class="comment-author">{{ comment.author }}</div>
                        <div class="comment-text mb-2">{{ comment.text }}</div>
                        
                        {% if comment.replies %}
                            <div class="replies ms-5">
                                {% for reply in comment.replies %}
                                    <div class="reply mb-2">
                                        <div class="reply-author">{{ reply.author }}</div>
                                        <div class="reply-text">{{ reply.text }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
</article>
{% endblock %} 